*{
  font-family: 'Electrolize', sans-serif;
}

body{
  background-color: rgba(2, 1, 1, 0.719);
  padding: auto;
  margin:auto;
}

.header{
background-image:url(images/music-top-image.jpg);
background-size: cover;
height: 100vh;

}

img{
  height: 200px;
  width: 200px
}

button:hover{
  color: burlywood !important;
  background-color: black!important;
box-shadow: 15px 15px 15px 10px !important;
}

.player{
  align-items: center;
  width: 100%;
  background: rgba(245, 202, 12, 0.719);
}
/* .title{
  align-items: center;
} */
 h1 .toprow{
   text-align: center;
   color: rgba(251, 2, 2, 0.993);
   
 }